.userbar-container {
    height: 100px;
    width: 100%;
}

.userbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    height: 100%;
}

.userbar img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%; /* Makes the image circular */
    border: 2px solid #ccc;
}
