.statusbar-container{
    height: auto;
    width: 100%;
    display: flex;
    justify-self: space-around;
    padding: 20px;
    gap: 15px;
}

.statusinfo-container{
    height: auto;
    width: 30%;
    border: solid 2px white;
    padding: 5px;    
}